.cluster__add-button{
    border: none;
}

.cluster__search{
    border: none;
}

.table__row-head {
    border-bottom: 1px solid #d0d4d9;
}

.cluster__data-25{
    width: 25%;;
}

.cluster__data{
    width: 16%;
}

.cluster__alert{
    color: #9a6000;
}

